<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="home">Home</a>
        <a class="nav-item nav-link" routerLink="product">Product</a>
        <a class="nav-item nav-link" routerLink="checkng">Learn angular</a>
        <a class="nav-item nav-link" routerLink="AngularMaterialTable">Material Table</a>
        <a class="nav-item nav-link" routerLink="BootstrapTableComponent">Bootstap Table</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
